<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RTMPCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>639E91901F6FB22D0037D9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639E91A91F6FB22E0037D9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639E91B41F6FB22E0037D9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
